.container {
    padding-top: 20px;
}

.cabinet-header {
    padding-top: 15px;
}

.configuration-row {
    padding-top: 10px;
    padding-bottom: 20px;
}

.configuration-type {
    padding-top: 15px;
}